.story{


    &__pictures{

        background-color: $color-primary;
        grid-column: full-start/col-end 4;
        background-image: linear-gradient(rgba($color-primary,.5) ,rgba($color-primary,.5)), url(../img/back.jpg);

        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);
        align-items: center;



        &--1{
            width: 100%;
            grid-column: 2/6;
            grid-row: 2/6;

        }

        &--2{
            width: 115%;
            grid-column: 4/span 3;
            grid-row: 4/6;
            position: relative;
            z-index: 10;


            @media  only screen and (max-width:$bp-large){

                width: 105%;

            }
            
        }
    }
    &__content{
        background-color: $color-grey-light-1;
        grid-column: col-start 5/full-end ;

        padding: 6rem 8vw;
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @media  only screen and (max-width:$bp-large){
            padding: 2rem 3vw;
            align-items: center;
            margin-bottom: 0;
        }

    }
    &__text{

        font-style: italic;
        margin-bottom: 4rem;
        font-size: 1.4rem;


        @media  only screen and (max-width:$bp-large){
            margin-bottom: 1rem;
        }

    }
}